doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title Profile
        style
            include ../feeds/feeds.css
            include ./profile.css
        script 
            include ./profile.js
    body
        div.container-fluid.wrapper   
            include ../nav/nav.pug
            section
                div.category
                    ul
                        li 
                            a(href="/feeds/photos") Feeds
                        li 
                            a(href="/photos") My Photos
                        li 
                            a(href="/albums") My Albums
                div.container
                    div.top
                        h5 Edit User Profile
                    form(action="/profile/infor?_method=PATCH", method="POST", enctype="multipart/form-data").center
                        div.image-profile
                            img.image-infor(src= `/${user.image}`, alt="")
                            input(type="hidden", name="imageOld", value=user.image)
                            label(for="image") CHANGE
                            input#image(type="file", name="image", onchange="setImage(this)") 
                        div.title
                            span Basic Information
                        div.input-profile 
                            label(for="firstName") First Name
                            input#firstName(type="text", name="firstName", placeholder="First Name", value=user.firstName, autofocus, required).form-control
                        div.input-profile 
                            label(for="lastName") Last Name
                            input#lastName(type="text", name="lastName", value=user.lastName, placeholder="Last Name", required).form-control
                        div.input-profile 
                            label(for="email") Email
                            input#email(type="text", name="email", value=user.email, placeholder="Email", disabled, required).form-control
                        div.btn-infor
                            button.btn.btn-success.btn-profile  Save
                            span.mess-profile(class=error)=isSuccess
                    form(action="/profile/pass?_method=PATCH", method="POST").bottom
                        div.title
                            span Password   
                        div.input-profile 
                            label(for="curPass") Current Password    
                            input#curPass(type="password", name="curPass", placeholder="Current Password", required).form-control
                        div.input-profile 
                            label(for="newPass") New Password
                            input#newPass(type="password", name="newPass", placeholder="New Password", required).form-control
                        div.input-profile 
                            label(for="conPass") Password Confirmation
                            input#conPass(type="password", name="conPass", placeholder="Password Confirmation", required).form-control
                        div.btn-infor
                            button.btn.btn-success Save
                            span(class=error)=mess
                                      
                
            