doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title Edit Photo
        style
            include ../feeds/feeds.css
            include ../albums/addAlbum.css
        script 
            include ./addPhoto.js
            include ./editPhoto.js
    body
        div.container-fluid
            include ../nav/nav.pug  
            section
                div.category
                    ul
                        li 
                            a(href="/feeds/photos")  Feeds
                        li 
                            a(href="/photos") My Photos
                        li 
                            a(href="/albums") My Albums
                div.container.container-add
                    form(action=`/photos/${photo._id}?_method=PUT`, method="POST", enctype="multipart/form-data")
                        div.top
                            h4 Edit Photo
                            a(href="/photos" type="button") Back   
                        div.center
                            div.left
                                div.title
                                    label(for="title") Title
                                    input.title-input(type="text", id="title", name="title", value=photo.title, placeholder="Photo Title", required) 
                                div.lock
                                    label(for="isPublic") Sharing mode
                                    select(name="isPublic")
                                        if photo.isPublic
                                            option(value="true", selected) Public
                                            option(value="false") Private
                                        else
                                            option(value="true") Public
                                            option(value="false", selected) Private
                            div.right
                                label(for="description") Description
                                textarea(name="description", cols="30", rows="4", placeholder="Photo Description", required)=photo.description 
                        div.image
                            label(for="image") 
                                img.upload-img(src=`\\${photo.image}`, alt="")
                            input#image(type="file", name="image", accept="image/*", onchange="setImage(this)", value=photo.image)     
                        div.bottom
                            button.btn-photo(type="submit") Edit
                            span.mess.mess-photo(class= error)=mess
                    form.delete.form-delete-photo(action=`/photos/${photo._id}?_method=DELETE`, method="POST") 
                        button(type="button" ,onclick="checkDelete()") 
                            i.fas.fa-trash-alt  Delete                
                                    

            footer
                
            