doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title My Photos
        style
            include ../feeds/feeds.css
            include ./myPhotos.css
            include ./viewPhoto.css
        script 
            include ./viewPhoto.js
    body
        div.container-fluid.wrapper
            include ../nav/nav.pug  
            section
                include ./viewPhoto.pug
                div.category
                    ul
                        li 
                            a(href="/feeds/photos?page=1")  Feeds
                        li 
                            a(href="/photos?page=1").active My Photos
                        li 
                            a(href="/albums") My Albums
                div.container.container-my-photo.boxed-photo
                    div.btn-addNew
                        a(href="/photos/add").btn.btn-success Add New Photo
                    div.list-my-card 
                        each photo in photos
                            div.card-my-photo 
                                div.my-image
                                    img(src= photo.image, alt="" 
                                        onclick=`showPhoto(\"${photo.image}\", \"${photo.title}\", \"${photo.description}\")`)
                                    div.my-title
                                        span= photo.title
                                        a(href="/photos/edit/" + photo._id)
                                            i.fas.fa-edit   
                                    if !photo.isPublic
                                        i.fas.fa-lock
                    div.page.my-page
                        ul  
                            if preCheck 
                                li.page-item
                                    a.page-link.page-disable Previous
                            else 
                                li.page-item
                                    a(onclick="pre()").page-link.pre-link Previous
                            each pageActive in pageActives
                                li.page-item
                                    a(href=`?page=${pageActive.page}`, class=pageActive.active).page-link=pageActive.page
                            if nextCheck
                                li.page-item
                                    a.page-link.page-disable Next  
                            else    
                                li.page-item
                                    a(onclick="next()").page-link.next-link Next                

            footer
                
            