doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title Feeds
        style
            include ./feeds.css
            include ../photos/viewPhoto.css
        script 
            include ../photos/viewPhoto.js
            include ../albums/viewAlbum.js
            include ./feeds.js
    body
        div.container-fluid.wrapper   
            include ../nav/nav.pug
            section
                include ../photos/viewPhoto.pug
                include ../albums/viewAlbum.pug
                div.category
                    ul
                        li 
                            a(href="/feeds/photos").active Feeds
                        li 
                            a(href="/photos") My Photos
                        li 
                            a(href="/albums") My Albums
                div.container.boxed-photo
                    div.choice.btn-group
                        button(onclick="window.location.assign(\"/feeds/photos\")", class=!checkAlbum ? "active" : "" ) PHOTO
                        button(onclick="window.location.assign(\"/feeds/albums?page=1\")", class=checkAlbum ? "active" : "") ALBUM
                    div.list-card
                        if albums
                            each album in albums    
                                div.card-photo(onclick=`showAlbum(\"${album.images.toString()}\", \"${album.title}\", \"${album.description}\")`) 
                                    div.image
                                        img(src= `/${album.images[0]}`, alt="").pic1
                                        img(src= `/${album.images[0]}`, alt="").pic2
                                        img(src= `/${album.images[0]}`, alt="").pic3
                                    div.content
                                        div.user     
                                            img(src=`/${album.user.image}`, alt="")
                                            span=album.user.firstName
                                        div.title-photo
                                            span= album.title
                                        div.content-photo 
                                            span= album.description
                                        div.like
                                            a(href="#") 
                                                i.fas.fa-heart  123
                                            span=album.day
                        if photos
                            each photo in photos    
                                div.card-photo(onclick=`showPhoto("/${photo.image}", "${photo.title}", "${photo.description}")`) 
                                    div.image
                                        img(src= `/${photo.image}`, alt="").pic1
                                    div.content
                                        div.user     
                                            img(src=`/${photo.user.image}`, alt="")
                                            span=`${photo.user.firstName}`
                                        div.title-photo
                                            span= photo.title
                                        div.content-photo 
                                            span= photo.description
                                        div.like
                                            a(href="#") 
                                                i.fas.fa-heart  123
                                            span=photo.day
                    div.page
                        ul  
                            if preCheck 
                                li.page-item
                                    a.page-link.page-disable Previous
                            else 
                                li.page-item
                                    a(onclick=`preFeeds(${category})`).page-link.pre-link Previous
                            each pageActive in pageActives
                                li.page-item
                                    a(href=`?page=${pageActive.page}`, class=pageActive.active).page-link=pageActive.page
                            if nextCheck
                                li.page-item
                                    a.page-link.page-disable Next  
                            else    
                                li.page-item
                                    a(onclick=`nextFeeds(${checkAlbum})`).page-link.next-link Next                  

            footer
                
            