doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title My Albums
        style
            include ../feeds/feeds.css
            include ../photos/myPhotos.css
        script 
            include ./viewAlbum.js
    body
        div.container-fluid.wrapper
            include ../nav/nav.pug  
            section
                include ./viewAlbum.pug
                div.category
                    ul
                        li 
                            a(href="/feeds/photos?page=1")  Feeds
                        li 
                            a(href="/photos?page=1") My Photos
                        li 
                            a(href="/albums").active My Albums
                div.container.container-my-photo.boxed-photo
                    div.btn-addNew
                        a.btn.btn-success(href="/albums/add") Add New Album
                    div.list-my-card 
                        each album in albums
                            div.card-my-photo 
                                div.my-image.album-image
                                    img(src= `/${album.images[0]}`, alt="" 
                                        onclick=`showAlbum(\"${album.images.toString()}\", \"${album.title}\", \"${album.description}\")`).album.pic1
                                    img(src= `/${album.images[1] ? album.images[1] : album.images[0]}`, alt="" 
                                        onclick="").album.pic2
                                    img(src= `/${album.images[2] ? album.images[2] : album.images[0]}`, alt="" 
                                        onclick="").album.pic3
                                    div.my-title
                                        span= album.title
                                        a(href="/albums/edit/" + album._id)   
                                            i.fas.fa-edit
                                    if !album.isPublic
                                        i.fas.fa-lock
                    div.page.my-page
                        ul  
                            if preCheck 
                                li.page-item
                                    a.page-link.page-disable Previous
                            else 
                                li.page-item
                                    a(onclick="pre()").page-link.pre-link Previous
                            each pageActive in pageActives
                                li.page-item
                                    a(href=`?page=${pageActive.page}`, class=pageActive.active).page-link=pageActive.page
                            if nextCheck
                                li.page-item
                                    a.page-link.page-disable Next  
                            else    
                                li.page-item
                                    a(onclick="next()").page-link.next-link Next                  

            footer
                
            